@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Amiri:400italic,700,400&subset=arabic,latin);

html{
  min-height: 100%;
  height: 100%;
}

body
{
  min-height: 100%;
  height: 100%;
  direction:rtl;
  color:#2c3e50;
  background-color:#f0f0f0;
  width:100%;
  border-top:solid #d90006;
  border-width:4px
}

h1,h2,h3,h4,h5,h6
{
  font-family: 'Amiri', serif;
  color: #d90006;}

h1,h2,h3
{
  color: #29598D;
  font-weight:700
}

h1 a,h2 a,h3 a,h4 a
{
  color: #d90006;}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover
{
  color: #B6040A;}

p
{
  font-weight:normal;
  font-size:15px;
  text-align:justify;
}

.posts
{
  font-size:20px;
  list-style:none;
  font-weight:lighter;
  line-height:250%;
  padding-bottom:30px
}

.homepage-posts
{
  list-style:none
}

.container
{
  width:80%;
  padding-left:0;
  padding-top:30px
}

.container a
{
  text-decoration:none
}

#wrapper
{
  padding-right:250px;
  transition:all .5s ease 0
}

.navbar
{
  display: none;
}

.navbar a
{
  text-decoration: none;
  border-bottom: 1px #b1b1b1 solid;
}

#sidebar-wrapper
{
  margin-right:-250px;
  right:250px;
  width:250px;
  background: #FEFEFE;
  position:fixed;
  height:100%;
  overflow-y:auto;
  z-index:1000;
  margin-top:-4px;
  border-top:solid #d90006;
  transition:all .4s ease 0;
  border-width: 4px;}

.sidebar-nav
{
  position:absolute;
  top:0;
  width:250px;
  list-style:none;
  margin:0;
  padding:30px 0 0 0
}

.sidebar-nav li
{
  line-height:30px;
  text-indent:40px;
  font-family: 'Amiri', serif;
  font-weight:200;
  color:#9c9c9c;
  /* text-shadow:1px 1px #fff
 */}

.sidebar-nav li a
{
  color: #535454;
  display:block;
  text-decoration:none
}

.sidebar-nav li a:hover
{
  color: #d90006;
  background: #F3F4F4;
  text-decoration:none;
  transition:all .2s ease 0
}

.sidebar-nav li a:active,.sidebar-nav li a:focus
{
  text-decoration:none
}

.sidebar-nav > .sidebar-brand
{
  font-size:20px
}

.sidebar-nav > .sidebar-brand > h3
{
  font-size:15px;
  font-weight:100;
  color:#5d5f67
}

.nav-toggle {
    display: none;
    color: #d90006;
    padding-right: 10px;
    padding-top: 10px;
  }

.brand
{
  font-weight:800;
  color:#6c7077;
  font-family: 'Amiri', serif;
  font-size:1.4em;
  text-shadow:1px 1px #fff
}

.brand:hover
{
  color:#d90006;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s
}

.sidebar-nav > .sidebar-brand a
{
  color:#999
}

.sidebar-nav > .sidebar-brand a:hover
{
  color:#fff;
  background:none
}

.content-header
{
  height:65px;
  line-height:65px
}

.content-header h1
{
  line-height:65px;
  display:inline-block;
  margin:0 20px 0 0
}

blockquote
{
  border-left:2px solid #d90006;
  border-right:2px solid #d90006;
  margin-left:-40px;
  margin-right:-40px;
  padding-left:40px;
  background:#f3f3f7
}

ul,ol
{
}

pre
{
  direction: ltr;
  background:#f5f5f8
}

#social-wrapper
{
  color:#5c646f;
  padding:10px 0
}

#social-wrapper a
{
  font-size:15px;
  text-indent:20px
}

#social-wrapper li
{
  font-size:15px;
  text-indent:0;
}

/* README: this doesn't depend on {{site.baseurl}} */
#fb{
   color: #3864A3
}
#github{
  color:#000
}
#trello{
  color:#0079BF
}
i.udemy
{

 padding: 0 10px;
 margin: 0 20px 0 -2px;

 background: url(https://pbs.twimg.com/profile_images/464071461120929793/SPv2HSLS.png) no-repeat right center;
 background-size: 14px 14px;
}

#social-wrapper a:hover
{
  color: #d90006;
  transition:all .3s ease 0
}

.showcase-wrapper
{
  width:100%;
  height:80vh;
  min-height:500px;
  margin-top:-50px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 1px #fff;
  background-size: cover;
  z-index:-4
}

.showcase-text
{
  font-size:3em;
  font-family: 'Amiri', serif;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20%
}

.wide
{
  width:100%;
  background-color:#fff;
  margin:0;
  padding:0 10% 30px
}

#welcome-greeting
{
  width:100%;
  padding-top:5px
}

#welcome-greeting > h1
{
  font-size:3em;
  font-weight:700;
  color:#d90006;
  line-height:130%
}

#welcome-greeting h1:hover
{
  font-size:3em;
  font-weight:700;
  color:#2d4440;
  transition:all .5s ease 0
}

#welcome-greeting > h2
{
  font-size:2em;
  font-weight:100;
  color:#2e2e2e;
  padding-top:0;
  line-height:140%
}

#welcome-greeting h2 a
{
  font-weight:100;
  color:#d90006
}

.credit
{
  bottom:0;
  width:100%;
  font-size:.8em;
  text-shadow:1px 1px #fff;
  padding-right:20px;
  margin-bottom:0;
  padding-bottom:5px;
  padding-top:5px;
  margin-top:40px;
  z-index:1;
  color:#2c3e50
}

.label-danger
{
  background-color:#697b7b;
  font-weight:400;
  border-radius:.2em;
  font-size:120%
}

.label-danger:hover
{
  background-color:#2d4440;
  transition:all .4s ease 0
}

.showcase-button
{
  border-radius:.5em;
  b
  ackground-color:transparent;
  border:1px solid rgba(255,255,255,.4);
  color:rgba(255,255,255,.8);
  font-weight:200;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
}

.showcase-button:hover
{
  border:1px solid rgba(255,255,255,1);
  color:rgba(255,255,255,1);
  background-color:transparent;
  transition:all .2s ease 0
}

.article-title
{
  font-size:35px;
  font-weight:700;
  color:#d90006;
  padding-top:15px
}

.meta
{
  text-shadow:1px 1px #fff;
  color:#b6b6b6
}

img
{
  max-width:100%;
}

#article
{
  margin-bottom:30px;
  background-color:#FEFEFE;
  box-shadow:1px 1px 0 1px #e8e8e8;
  padding:10px 40px 0
}

.post.ltr
{
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif !important;
  line-height: 1.4 !important;
}
.post
{
  font-family: 'Amiri', serif;
  line-height: 1.8;
  padding-bottom:30px;
}

.user-social
{
  color:#c4c4c4;
  margin-right:20px;
  text-decoration:none
}

.user-social a
{
  color:#c4c4c4;
  text-decoration:none;
  margin-left:20px
}

.blue-outline
{
  border:2px solid #d21c38
}

time
{
  color:#c9c9c9;
  font-family: 'Amiri', serif;
  font-weight:100;
  text-shadow:1px 1px #fff
}

.pager li > a,.pager li > span
{
  border-radius:.5em
}

#self
{
  -moz-border-radius:100px;
  -webkit-border-radius:100px;
  border-radius:10px;
  max-height:200px;
  margin:0;
  padding:10px
}

#disqus_thread
{
  margin-top:100px
}

.recent-posts
{
  background-color:#fff;
  color:#4d4d4d;
  box-shadow:1px 1px 0 1px #e8e8e8;
  margin:10px 10%;
  padding:10px 40px
}

.recent-posts h1
{
  padding-bottom:10px;
  font-size:1.6em
}

.project-container
{
  width:100%;
  height:170px;
  box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -moz-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  -webkit-box-shadow:inset 0 -10px 5px -2px rgba(119,119,119,0.35);
  border-bottom:solid 1px #fff;
  background-image:url(http://lorempixel.com/900/200/);
  background-size: cover;
  z-index:-4;
  margin-top:-55px;
  margin-bottom:30px;
  color:#fff
}

.project-container h1
{
  font-size:3em;
  font-family: 'Amiri', serif;
  font-weight:bolder;
  color:#fff;
  text-align:center;
  padding-top:20px
}

.project-container p
{
  font-weight:200;
  font-family: 'Amiri', serif;
  color:#fff;
  text-align:center;
  right-padding:20%
}

.project-box
{
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  min-height:200px
}

.project-box:hover
{
  background-color:#fff;
  box-shadow:1px 1px 0 1px #e8e8e8;
  min-height:200px
}

.project-title
{
  color:#000
}

.project-image
{
  position:relative;
  margin:0
}

.project-image hr
{
  margin-top:5px;
  margin-bottom:0;
  display:none
}

.project-post
{
  cursor:pointer
}

.project-post h4
{
  font-weight:200;
  font-size:1em
}

.user-card
{
  background-color:#f9f9f9;
  box-shadow:1px 1px 0 1px #e8e8e8;
  max-width:800px;
  padding:10px 40px 0
}

.user-card h1
{
  font-family: 'Amiri', serif;
  font-weight:bolder;
  font-size:2.5em;
  line-height:55px;
  color:#d90006
}

.user-card p
{
  color:#c4c4c4;
  font-size:small
}

.card
{
  margin-right:-40px;
  margin-top:-10px
}

.letter p
{
  font-size:1.2em;
  font-weight:lighter;
  color:#737373;
  text-shadow:1px 1px #fff
}

.fashion
{
  border-left:solid 2px #bc0005
}

.fashion-button
{
  background-color:#bc0005
}

.fashion:hover
{
  border-right:solid 2px #f40006
}

.fashion-button:hover
{
  background-color:#f40006
}

.programming
{
  border-right:solid 2px #7dbcb2
}

.programming-button
{
  background-color:#7dbcb2
}

.programming:hover
{
  border-right:solid 2px #bbe9e2
}

.programming-button:hover
{
  background-color:#bbe9e2
}

.tech
{
  border-right:solid 2px #644539
}

.tech-button
{
  background-color:#644539
}

.tech:hover
{
  border-right:solid 2px #F4A273
}

.tech-button:hover
{
  background-color:#F4A273
}

.misc
{
  border-right:solid 2px #9e9599
}

.misc-button
{
  background-color:#9e9599
}

.misc:hover
{
  border-right:solid 2px #cfe0ea
}

.misc-button:hover
{
  background-color:#cfe0ea
}

.podcasts
{
  border-right:solid 2px #387b94
}

.podcasts-button
{
  background-color:#387b94
}

.podcasts:hover
{
  border-left:solid 2px #2FD0EF
}

.podcasts-button:hover
{
  background-color:#2FD0EF
}

#menu-toggle,.project-post div
{
  display:none
}

#article h1,#article h2,#article h3
{
  color:#3a3a3a
}

@media (max-width:767px) {

#wrapper {
  padding-right: 0;
  padding-top: 20px;
}

#sidebar-wrapper {
    border-left: 4px solid #d90006;
    border-top: none;
    right: 0px;
}
 .nav-toggle {
    display: ;
  }
#wrapper.active {
  position: relative;
  right: 250px;
}

#wrapper.active #sidebar-wrapper {
  right: 250px;
  width: 250px;
  transition: all 0.7s ease 0s;
}


.inset {
  padding: 15px;
}
.navbar
{
  display: inherit;
  background-color: #ededed;
  margin-top: -20px;
}

}

@media screen and (max-width: 500px) {
  #welcome-greeting h2 {
   font-size: 15px;
   transition: all 0.2s ease 0s;
   font-weight: 200;
   line-height: 30px;

  }
  .container {
    width: 100%;
    margin: 0 0 0 0;
    padding: 15px 15px 0 15px;
  }

  #article {
      padding: 0 10px 0 10px;
  }

.showcase-wrapper {
  width: 100%;
  height: 50%;
  font-size: small;
}
}

/* Auhor page */

/* author img */
.auth-img {
  object-fit: cover;
  width:200px;
  height:200px;
  border-radius: 50%;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}
.auth-img:hover {
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* Vertical Rule */
.vr{
  height: 73%;
  position: absolute;
  border: 1px solid rgba(240,240,240,0.4);
  top: 115px;
  right: 42%;
}

/* author's info list */
#auth-ul{
  margin:20px 0;
  padding: 0;
  text-align:right;
}

/* social media contacts for author */
.auth-social a i {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.auth-social a i:hover {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.g-plus {
  color: #DD4B39;
  padding: 5px;
}
.g-plus:hover {
  color: #b53c2f;
}
.twitter {
  color: #659FCB;
  padding: 5px;
}
.twitter:hover {
  color: #47718e;
}
.facebook {
  color: #3864A3;
  padding: 5px;
}
.facebook:hover {
  color: #2a4b7a;
}
.linkedin{
  color: #0177B5;
  padding: 5px;
}
.linkedin:hover {
  color: #005d8c;
}
.github {
  color: #292929;
  padding: 5px;
}
.github:hover {
  color: #000;
}
/* End of Social Media for author */

.auth-h3, .auth-h5, .auth-h4 {
   color:#BEBEBE;
}

.auth-h1{
  color:#d90006;
}

/* for featured posts titles */
.wrap-text a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 17em;
}
.wrap-text:hover {
  -webkit-animation: overflowMove 3s reverse linear;
  -moz-animation: overflowMove 3s reverse linear;
  animation : overflowMove 3s reverse linear;
  overflow: visible;
}
@-webkit-keyframes overflowMove {
  from {text-indent :-60%;}
  to {text-indent:5%;}
}
@-moz-keyframes overflowMove {
  from {text-indent :-60%;}
  to {text-indent:5%;}
}
/* end of featured posts titles */

/* Background */
.pb-pattern:after {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  content: '';
  z-index: -1;
  -webkit-transition: background-image 0.1s ease-in-out;
  -moz-transition: background-image 0.1s ease-in-out;
  -ms-transition: background-image 0.1s ease-in-out;
  -o-transition: background-image 0.1s ease-in-out;
  transition: background-image 0.1s ease-in-out; }
.pb-pattern.over-img:after {
  opacity: 0.2;
  z-index: 0; }
.pb-pattern {
  position: relative;
  z-index: 1;
}
.ted:after {
  background-size: 30px;
}
.ted {
  background-color: #F3F4F4;
}
.buseca-1:after {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2240px%22%20height%3D%2240px%22%20viewBox%3D%2255%2055%2040%2040%22%20enable-background%3D%22new%2055%2055%2040%2040%22%20xml%3Aspace%3D%22preserve%22%20fill%3D%22white%22%3E%0A%3Cpath%20d%3D%22M55%2C55h40v40H55V55z%20M95%2C86.987v-3.99l-1.997%2C1.997L95%2C86.987z%20M63%2C63l6.003-6.006L67.006%2C55h-3.994%0A%09l1.991%2C1.994L63%2C59l-4-4h-3.997L63%2C63z%20M87.013%2C55L95%2C62.987V59l-4-4H87.013z%20M75%2C55L55%2C75v3.997L78.997%2C55H75z%20M57.003%2C64.994%0A%09L55%2C66.997V71l6.003-6.006L55%2C58.997v3.997L57.003%2C64.994z%20M78.997%2C95l2.006-2.006L75%2C87l-4%2C4l-2-2.003l0.003-0.003l4-4l-4-3.994%0A%09L71%2C79l16.006%2C16H91L71%2C75l-5.997%2C6l4%2C3.994l-2%2C2L65%2C84.997l0.003-0.003L63%2C83l-2%2C1.987l0.003%2C0.007l-2%2C2.003l-2-1.997l-1.753%2C1.75%0A%09L83.003%2C59l2%2C2.003l-4%2C3.997l3.991%2C4.003L83%2C71l-4-4l-1.997%2C1.994l-4%2C4L95%2C94.987v-3.99L77.003%2C72.994l2-1.997L83%2C75l3.994-3.994%0A%09L87%2C71.016l0.013-0.009l1.99%2C1.987L86.997%2C75l-1.994%2C1.994L87%2C79l0.003-0.003L91%2C83l4-4v-4l-4%2C4l-2.003-2l4.006-4.006l-3.99-3.987%0A%09L91%2C67.031l4%2C4.031v-4.056l-4-3.975L87%2C67l-1.997-2.006l4-4L83%2C55L55%2C82.997V87l1.997%2C2L59%2C91l4.003-4.003l1.997%2C2l-3.997%2C3.997%0A%09L63%2C95l0.003-0.003L63.006%2C95H67l-2.003-1.997l2-2.003L71%2C95l4-4l2.003%2C1.994L75%2C95H78.997z%20M55%2C91v4h4.006L55%2C91z%22/%3E%0A%3C/svg%3E"); }
/* end of Background */

/* Spacing for headers */
.h-padding {
  padding-bottom: 5px
}
/* for responsive navigator */
#h-nav{
  padding-right: 15px;
}
.bg, .new-nav, #h-nav, .new-nav li a {
  background-color: #FEFEFE;
}
.new-nav li a {
  color: #535454;
  text-decoration: none;
}
.new-nav li a:hover {
  color: #d90006;
  background-color: #F3F4F4;
  text-decoration: none;
}
