---
layout: default
---
<header id="post-header">
    <h2 id="post-subtitle">المواضيع بحسب الكاتب</h4>
</header>

{% for author in site.data.authors %}
{% assign author_id = author | first%}
{% assign a = site.data.authors[author_id] %}
    {% for post in site.posts %}
		{% if post.unlisted != true %}
	  	{% if post.author == author_id %}
		{% assign author_has_posts = author_id %}
		 {% endif %}
		 {% endif %}
	{% endfor %}

		{% if author_has_posts == author_id %}
  <div class="list-group">
	  {% if a.name %}
	  <a href="{{ a.site }}"><h3 name="{{ author_id }}">{{ a.name }}</h3></a>
	  {% else %}
	  <h3 name="{{ author_id }}">{{ author_id }}</h3>
	  {% endif %}
  <div class="list-group">
    {% for post in site.posts %}
	  	{% if post.author == author_id and post.unlisted != true %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ post.title }}</h4>
         </a>
		 {% endif %}
    {% endfor %}
		 {% endif %}
  <div class="list-group">
  </div>
{% endfor %}
