---
title: تصنيفات
layout: default
---
<header id="post-header">
    <h2 id="post-subtitle">المواضيع بحسب التصنيفات</h4>
</header>

{% for cat in site.data.categories %}
  <div class="list-group">
    <h3 class="h-padding" name="{{ cat.name }}">
      <a href="{{ site.baseurl }}/{{ cat.permalink }}">{{ cat.title }}</a>
    </h3>
    <div class="list-group">
      {% for post in site.categories[cat.name] %}
          <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ post.title }}</h4>
          </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}
