---
title: تصنيفات
layout: default
---
<header id="post-header">
    <h2 id="post-subtitle">المواضيع بحسب التصنيفات</h4>
</header>

{% for category in site.categories %}
  <div class="list-group">
	  <h3 name="{{ category | first }}"><a href="{{ site.baseurl }}/category/{{ category | first }}.html">{{ category | first }}</a></h3>
  <div class="list-group">
    {% for posts in category %}
      {% for post in posts %}
	  	{% if post.title %}
        <a href="{{ site.baseurl }}{{ post.url }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ post.title }}</h4>
         </a>
		 {% endif %}
      {% endfor %}
    {% endfor %}
  <div class="list-group">
  </div>
{% endfor %}
