{% for post in site.posts %}
  {% if post.static != true and post.unlisted != true %}
    {% include classification.html %}
    <div id="article"
      {% if post.direction %}
        dir="{{ post.direction }}"
      {% endif %}
    >

    {% if post.static != true %}
      <a href="{{ site.baseurl }}{{ post.url }}">
          <h4>{{ post.title }} {% if post.series %} ({{ post.series }}) {% endif %}</h4>
      </a>
    {% endif %}

    <div class="post {{ post.direction }}">
      {% if post.noexcerpt != true %}
        {% if post.direction == ltr %}
          {{ post.excerpt | strip_newlines | append: '￿' | replace: '</p>￿', '...' }}<a href="{{ site.baseurl }}{{ post.url }}"> Read more</a></p>
        {% else %}
          {{ post.excerpt | strip_newlines | append: '￿' | replace: '</p>￿', '...' }}<a style="text-decoration: underline dotted;" href="{{ site.baseurl }}{{ post.url }}"> اقرأ المزيد</a></p>
        {% endif %}

      {% else %}
        {{ post.content }}
      {% endif %}
    </div>
    </div>
  {% endif %}
{% endfor %}

