<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a href="{{ site.baseurl }}/"><p class="navbar-brand">{{ site.name }}</p></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/list.html">الأرشيف</a></li>
      <li><a href="{{ site.baseurl }}/categories.html">تصنيفات</a></li>
	  <li><a href="{{ site.baseurl }}/authors.html">الكُتاب</a></li>
      <li><a href="{{ site.baseurl }}/about.html">عنَّا</a></li>
      <li><a href="{{ site.baseurl }}/community_rules.html">قواعد المجتمع</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
	  <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><img src="{{ site.logo }}"></a><h3>{{ site.description }}</h3></li>
    <hr />
      <li><a href="{{ site.baseurl }}/list.html">الأرشيف</a></li>
      <li><a href="{{ site.baseurl }}/categories.html">تصنيفات</a></li>
	  <li><a href="{{ site.baseurl }}/authors.html">الكُتاب</a></li>
      <li><a href="{{ site.baseurl }}/about.html">عنَّا</a></li>
      <li><a href="{{ site.baseurl }}/community_rules.html">قواعد المجتمع</a></li>
    <hr />
    <div id="social-wrapper">
      <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook-square"></i> مجموعة النقاش على Facebook</a></li>
      <li> <a href="{{ site.github }}"><i class="fa fa-github-square"></i> مصدر الصفحة على Github</a> </li>
      <li> <a href="{{ site.trello }}"><i class="fa fa-trello"></i> قائمة المهام على Trello</a></li>
	  <li> <a href="{{ site.udemy }}"><i class="udemy" ></i> دروس المجتمع على Udemy</a> </li>
    </div>
  </ul>
</div>
