---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
	  {% include google_analytics.html %}
    {% include social_meta_tags.html %}
  </head>
  <body class="ted pb-pattern buseca-1">
    <div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Herring Cove </div>
    <div id = "wrapper" class="ted pb-pattern buseca-1">
      {%include navigation.html %}
      <div class="container">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
