---
layout: default
---
{% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted in  
	{% for post_cat in post.categories %}
	<a href="{{ site.baseurl }}/category/{{ post_cat }}"><code>{{ post_cat }}</code></a>,
	{% endfor %}
	with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
		{% for post_tag in post.tags %}
    		{% assign tag = site.data.tags[post_tag] %}
        {% if tag %}
		{% capture tags_content_temp %}{{ tags_content }}<a href="{{ site.baseurl }}/tag/{{ post_tag }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}
<div id="article"
{% if page.direction %}
	   dir="{{ page.direction }}"
{% endif %} >
  <div class="article-title">{{ page.title }}</div>
  <p id="post-meta">{{ tags_content }}</p>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>

  </p>
	<div class="meta">
  {% if page.post_gravatar %}
		<img src="http://www.gravatar.com/avatar/{{ page.post_gravatar }}?s=40">
  {% endif %}
  {% if page.post_author %}
		<span class="author">{{ page.post_author }}</span>
  {% endif %}
	</div>
  <hr/>
  <div class="post">
    {{ content }}
  </div>
</div>
{% include share.html %}
{% include pager.html %}
{% include comment.html %}
