---
layout: default
---
{% assign post = page %}
{% assign author = site.data.authors[post.author] %}
{% include classification.html %}
<div id="article"
{% if page.direction %}
	   dir="{{ page.direction }}"
{% endif %} >
  <div class="article-title">{{ page.title }}</div>
  <p id="post-meta">{{ classification }}</p>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}
    </small>

  </p>
	<div class="meta">
  {% if author.gravatar %}
		<img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
  {% endif %}
  {% if author.name %}
		<span class="author">{{ author.name }}</span>
  {% else %}
  {% if post.author %}
		<span class="author">{{ post.author }}</span>
  {% endif %}
  {% endif %}

	</div>
  <hr/>
  <div class="post {{ post.direction }}" 
{% if post.direction == "ltr" %}
{% endif %}
	   >
    {{ content }}
  </div>
</div>
{% if 0 == 1 %}
{% include share.html %}
{% endif %}
{% include pager.html %}
{% include comment.html %}
