---
layout: default
---
{% assign post = page %}
{% assign author = site.data.authors[post.author] %}
{% include classification.html %}

<div id="article"
  {% if page.direction %}
    dir="{{ page.direction }}"
  {% endif %}
>


  {% if page.static != true %}
  <div class="article-title">{{ page.title }}</div>
  <p id="post-meta">{{ classification }}</p>
  <p class="meta">
    <small>
      &nbsp;<i class="fa fa-calendar-o"></i> {{ page.date | date_to_string}}

      {% if post.contact %}
        <i class="fa fa-envelope-o"></i>&nbsp;{{ page.contact }} </p>
      {% endif %}
    </small>
  </p>

  <div class="meta">
    {% if author.img %}
      <img src="{{ site.baseurl }}/images/authors/{{ author.img }}"
           width="25" height="25"
           alt="{{ author.name }}" itemprop="image">
    {% endif %}

    {% if author.name %}
      {% if author.page %}
        <a href="{{ author.page }}">
      {% elsif author.site %}
        <a href="{{ author.site }}">
      {% endif %}
      <span class="author">{{ author.name }}</span>

      {% if author.page or author.site %}
        </a>
      {% endif %}
    {% elsif post.author %}
        <span class="author">{{ post.author }}</span>
    {% endif %}

  </div>

  <hr/>

  {% endif %}
  <div class="post {{ post.direction }}">
    {{ content }}
  </div>
</div>

{% if post.series %}
  {% for cat in post.categories %}
    {% if cat == post.series %}
      <div id="article">
        <h3 style="color:blue;">{{ cat }}</h3>
        {% for part in site.categories[cat] reversed %}
          {%if part.url == post.url %}
            <h4 style="color:black;">{{ part.title }}</h4>
          {% else %}
            <a href="{{ site.baseurl }}{{ part.url }}">
              <h4 class="list-group-item-heading">{{ part.title }}</h4>
            </a>
          {% endif %}
        {% endfor %}
        </br>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}


{% if author.bio %}
  <div id ="article">
    <div dir="{{ author.biodir }}" class="post {{ author.biodir }}">

      {% if author.img %}
        <img src="{{ site.baseurl }}/images/authors/{{ author.img }}"
             width="25" height="25"
             alt="{{ author.name }}" itemprop="image">
      {% endif %}

      {% if author.name %}
        {% if author.page %}
          <a href="{{ author.page }}">
        {% elsif author.site %}
          <a href="{{ author.site }}">
        {% endif %}
        <span class="author">{{ author.name }}</span>

        {% if author.page or author.site %}
          </a>
        {% endif %}
      {% elsif post.author %}
          <span class="author">{{ post.author }}</span>
      {% endif %}

      <p>{{ author.bio }}</p>
    </div>
  </div>
{% endif %}

{% if 0 == 1 %}
  {% include share.html %}
{% endif %}

{% include pager.html %}
{% include comment.html %}
